*{
margin: 0;

}

/* Barra de navegação */
header, .navbar {
    background-color: #7DC2F7;
  }
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 50px;
  }
  
  #logo {
    width: 110px;
  }
  
  .navbar-brand {
    padding: 0;
    color: #fff;
  }
  
  .navbar-brand:hover {
    color: #fff;
  }
  
  #navbar-links a {
    color: #fff;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #fff;
  }


/* ================== */


/* #inicio{
    width: 100%;
    height: 100px;
    background-color: #fff;
} */

#section-login{
    width: 100%;
    height:600px;
    margin-top: 73px;
    background-color: #f5f6fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div-card-login{
    width:50%;
    background-color: #fff;
}

.bloco_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 450px;
}


.div-form-login{
    width: 35%;
    height: 550px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 11px;
    border: none;
    box-shadow: 2px 2px #ccc;   
}

.texto-login{
    font-size: 13px;
    color:rgb(153, 151, 151);
}

#cars-caixa-login{
    width: 120%;
    height: 35px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 1px 3px #ccc;   
}

.butao-login{
    width:85px;
    height: 35px;
    background-color:#7DC2F7;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px #ccc; 
    font-size: 16px;
    color:rgb(7, 7, 7);
}

.form-text-login{
    margin-bottom:3em;
    font-size: 13px;
    color:rgb(95, 94, 94);
}

.caixa-login{
    width: 120%;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 1px 3px #ccc;  
}

@media screen and (max-width: 380px) {
    #section-login {
        width: 100%;
        height: 1300px;
        background-color:#f5f6fa;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .bloco_card {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 180%;
        height: 777px;
        background-color: #fff;
        flex-direction: column;
    }

    .div-form-login {
        width: 112%;
        height: 485px;
        background-color:#fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 1px #ccc;
    }
}


/* ======================cadastro==================== */

#section-cadastro{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    background-color:#f5f6fa;
    display: flex;
    justify-content:space-around;

    
}

.div-texto-cadastro{
    width:50%;
    height:400px;
    background-color:#fff ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px #ccc;
}

.div-texto-cadastro1{
    margin-top: 5em;
    font-size: 50px;
}

.div-texto-cadastro2{
    margin-bottom: 9em;
    margin-left: 6em;
    color: #FD967E;
    font-size: 50px;
}


.div-img-cadastro{
    width: 50%;
    height:400px ;
    box-shadow: 2px 2px #ccc;
}

.img-login-cadastro{
    width:100%;
    height:400px;
}

#section-form-cadastro {
    width: 100%;
    height: 750px;
    background-color: #f5f6fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.div-form-cadastro {
    width: 70%;
    height: 650px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 7px #ccc;
}

.caixa-form-cadastro{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 1px 3px #ccc; 
}

.texto-cadastrar{
    font-size: 13px;
    color:rgb(95, 94, 94);
}

.butao-cadastro{
    width:200px;
    height: 40px;
    margin-top:20px;
    margin-left: 5em;
    background-color:#7DC2F7;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px #ccc; 
    font-size: 16px;
    color:rgb(7, 7, 7);
}

@media screen and (max-width: 380px) {
    .body{
        background-color: #f5f6fa;
    }

    #section-cadastro{
        width: 100%;
        height: 800px;
        background-color: #f5f6fa;
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
    } 

    .div-texto-cadastro{
        width:70%;
        height:250px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .div-img-cadastro{
        width: 70%;
        height:250px;
        display: flex;
        align-items:  center;
    }

    
    .img-login-cadastro{
        width:100%;
        height:250px;
    }
    .div-texto-cadastro1{
        font-size: 20px;
    }
    
    .div-texto-cadastro2{
        font-size: 20px;
        color: #FD967E;
    }

    .div-form-cadastro {
        width: 80%;
        height: 1203px;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 7px #ccc;
        padding: 10px;
    } 
    
    form{
        width: 75%;
    }

    .butao-cadastro{
        width:100px;
        height: 30px;
        margin-top:20px;
        margin-left: 5em;
        background-color:#7DC2F7;
        border-radius: 4px;
        border: none;
        box-shadow: 1px 1px #ccc; 
        font-size: 16px;
        color:rgb(7, 7, 7);
    }